<!DOCTYPE html>
<html lang="en">
<head>
  <title>Budget App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "general", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <%= render "shared/alerts" %>
  <div class="app-container">
    <%= yield %>
  </div>
</body>
</html>
