<!DOCTYPE html>
<html lang="en">
<head>
  <title>Budget App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "general", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <div class="container">
    <% if notice %>
    <div class="notification is-warning">
      <button class="delete"></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="notification is-warning">
      <button class="delete"></button>
      <%= alert %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
